<!DOCTYPE html>
<html>
    <head>
        <title>Owl's Learning Hub</title>
    </head>
    <body>
        <h1>Owl's Learning Hub</h1>
        <h2>Welcome to the Owl's Learning Hub</h2>
        <p>
            <a href="http://localhost:3000/users/login">Login</a>
        </p>
        <p>
            <a href="http://localhost:3000/users/register">Register</a>
        </p>
    </body>
</html>